DirectoryIndex index.html
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
  <FilesMatch "\.(yml|html|php)$">
    Header set Cache-Control "no-store"
  </FilesMatch>
</IfModule>
